@tailwind base;
@tailwind components;
@tailwind utilities;

.serif { font-family: "new-spirit", serif; }
.serif_condensed { font-family: "new-spirit-condensed", serif; }

html, body {
    @apply h-full overflow-hidden;
}

.dark hr:not(.divider) {
    border-color: rgb(var(--color-primary-500));
}

.prose p {
    @apply font-serif;
}

.prose img {
    border: 2px solid #efefef;
    @apply mx-auto;
}

.dark .prose img {
    border: 2px solid white;
}
